body{
    font: 20px
}
.navbar{    
    background-color: #222222;
}
#quem-somos{
    background-color: rgb(245, 245, 255);
    color: #222222;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: rgb(238, 238, 238);
    color: #222222;

}
.servicos{
    background-color: rgb(245, 245, 255);
    color: #222222;
}
.bg-footer{
    background-color: #222222;
    color: rgb(245, 245, 255);
}